.skeleton {
    padding: 24px 24px 32px 24px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--grey-3);
}

.skeleton__block {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
}

.skeleton__block-text {
    width: 100%;
}

.skeleton__text {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__text + .skeleton__text {
    margin-top: 8px;
}